<?xml version="1.0" encoding="utf-8"?>
<Content Key="95cd15c0-8e53-4a38-a742-1210999340ec" Alias="404" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2026-08-31T18:27:43</CreateDate>
    <NodeName Default="404">
      <Name Culture="en">404</Name>
      <Name Culture="nl-NL">404</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="5c5a04c9-8321-4a91-a9b4-81e606719fc9">error404</Template>
  </Info>
  <Properties />
</Content>