<?xml version="1.0" encoding="utf-8"?>
<Content Key="12fec397-3e23-4733-a0d9-665d3af7ab05" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2026-09-01T13:50:16</CreateDate>
    <NodeName Default="Contact">
      <Name Culture="en">Contact</Name>
      <Name Culture="nl-NL">Contact</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a05d3a-dd6f-7547-8eaf-7057f079d0e9">Contact</Template>
  </Info>
  <Properties>
    <contactText>
      <Value Culture="en"><![CDATA[Have questions? I've got the answers! 
Feel free to reach out via e-mail or book a meeting to talk in person.]]></Value>
      <Value Culture="nl-NL"><![CDATA[Heb je vragen? Ik heb de antwoorden!
Neem gerust contact op via e-mail of plan een afspraak in om te overleggen.]]></Value>
    </contactText>
    <pageTitle>
      <Value Culture="en"><![CDATA[Let's make it happen]]></Value>
      <Value Culture="nl-NL"><![CDATA[Laten we het realiseren]]></Value>
    </pageTitle>
    <seoDescription>
      <Value Culture="en"><![CDATA[Have a question or want to discuss your project? Reach out to NeonPixel by email or book a meeting directly.]]></Value>
      <Value Culture="nl-NL"><![CDATA[Vragen over je project of wil je een afspraak inplannen? Neem contact op met NeonPixel via e-mail of boek direct een meeting.]]></Value>
    </seoDescription>
    <seoTitle>
      <Value Culture="en"><![CDATA[Contact — NeonPixel]]></Value>
      <Value Culture="nl-NL"><![CDATA[Contact — NeonPixel]]></Value>
    </seoTitle>
  </Properties>
</Content>