<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="263fe11e-eaac-4829-b040-27759095dbef" Alias="available_for_assignments" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Available for assignments</Translation>
    <Translation Language="nl-NL">Beschikbaar voor opdrachten</Translation>
  </Translations>
</Dictionary>