<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b89e7d27-1e5b-4f9a-9598-87d44ec20ef7" Alias="back_to_top" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Back to Top</Translation>
    <Translation Language="nl-NL">Terug naar boven</Translation>
  </Translations>
</Dictionary>