<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30480edb-7cc7-4056-be1b-6ca1d2c74d0a" Alias="book_a_meeting" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Book a meeting</Translation>
    <Translation Language="nl-NL">Plan een gesprek</Translation>
  </Translations>
</Dictionary>