<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3d214070-7312-41d5-8108-ae5245808be4" Alias="copyright_neonpixel" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Copyright NeonPixel. All rights reserved</Translation>
    <Translation Language="nl-NL">Copyright NeonPixel. Alle rechten voorbehouden</Translation>
  </Translations>
</Dictionary>