<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73090845-8d2d-4adb-9552-2303fd618dd3" Alias="evolving_world" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">IT is evolving rapidly, and I strive to stay ahead. Emerging tools and technologies enable me to create visually stunning and seamlessly functional websites and apps.</Translation>
    <Translation Language="nl-NL">IT ontwikkelt zich in hoog tempo, en ik streef ernaar om voorop te blijven lopen. Dankzij nieuwe tools en technologieën kan ik visueel indrukwekkende en naadloos functionerende websites en apps maken.</Translation>
  </Translations>
</Dictionary>