<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2fcbe64-cc68-4af9-92bc-2ab99fa363ea" Alias="go_home" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Go Home</Translation>
    <Translation Language="nl-NL">Terug naar het begin</Translation>
  </Translations>
</Dictionary>