<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e6e78f5c-690c-46b2-8a4f-113e6d003191" Alias="lets_chat" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Let's Chat</Translation>
    <Translation Language="nl-NL">Later we babbelen</Translation>
  </Translations>
</Dictionary>