<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="780d1b1c-0292-44a4-b4eb-401abfe9dd5f" Alias="lets_talk_about_your_project" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Let's talk about your project</Translation>
    <Translation Language="nl-NL">Laten we het over je project hebben</Translation>
  </Translations>
</Dictionary>