<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c21076f4-2cf2-491b-99e4-9ec541f13afb" Alias="my_tech_stack" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">My tech stack</Translation>
    <Translation Language="nl-NL">Mijn tech stack</Translation>
  </Translations>
</Dictionary>