<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="729a31b1-2bd4-41f2-bbd3-d18ff875e720" Alias="netherlands" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">The Netherlands</Translation>
    <Translation Language="nl-NL">Nederland</Translation>
  </Translations>
</Dictionary>