<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2b74582e-73a2-4870-b7c9-c2c08f7a838b" Alias="nothing_here" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Nothing here/</Translation>
    <Translation Language="nl-NL">Compleet leeg/</Translation>
  </Translations>
</Dictionary>