<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="612e7ad3-b41c-444a-9255-06663ef2e4a9" Alias="page_doesnt_exist" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">This page doesn't exist.</Translation>
    <Translation Language="nl-NL">Deze pagina bestaat niet.</Translation>
  </Translations>
</Dictionary>