<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="58282861-d6e0-4583-9892-658038ae7195" Alias="powerhouse" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">A powerhouse in full-stack development solutions</Translation>
    <Translation Language="nl-NL">Een krachtpatser in full-stack ontwikkelingsoplossingen</Translation>
  </Translations>
</Dictionary>