<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a1274dcc-63d0-479b-b93e-96d3630712bc" Alias="scroll_to_explore" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Scroll to explore</Translation>
    <Translation Language="nl-NL">Scroll verder</Translation>
  </Translations>
</Dictionary>