<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15bdc67d-a2de-4b39-83f9-ffb6f2240220" Alias="error404" Level="1">
  <Info>
    <Name>Error404</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>error404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5c5a04c9-8321-4a91-a9b4-81e606719fc9">error404</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>